      * {
            margin: 0;
            padding: 0;
            font-family: Arial;
        }

        body {
            background-color: #472e51;
        }

        .header {
            height: 80px;
            border-bottom: 2px solid gold;
            background-color: #472e51;

        }

        .container {
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

        .header a {
            text-decoration: none;
            color: gold;
        }

        .agora {
            font-weight: bold;
        }

        .navbar {
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            color: gold;
        }

        .titulo {
            color: gold;
            font-weight: 500;
            font-size: 24px;
        }

        .box {
            width: 800px;
            height: 400px;
            margin: 50px auto;
            display: flex;
            padding: 200px;
        }

        .box_esquerdo {
            width: 400px;
            height: 400px;
            background-color: #9b75a5;
            text-align: center;
            border: 2px solid gold;
            padding: 20px;
            border-radius: 5px;

        }

        .box_direito {
            width: 400px;
            height: 400px;
            background-color: #f5c1f4;
            border: 2px solid gold;
            padding: 20px;
            border-radius: 5px;

        }

        .box_esquerdo h4 {
            font-size: 22px;
            margin-top: 30px;
            margin-bottom: 20px;
            color: 472e51
        }

        .box_esquerdo li{
            font-size: 20px;
            margin-bottom: 20px;
            color: white;
            text-align: center;
        }

        .box_esquerdo a {
            text-decoration: none;
            background-color: #65303f;
            border-radius: 5px;
            font-size: 16px;
            color: white;
            padding: 10px 20px;
            display: inline-block;
            margin-top: 20px;
        }

        .conta {
            margin-top: 40px;

        }

        .conta a {
            text-decoration: none;
            background-color: #472e51;
            border-radius: 5px;
            font-size: 16px;
            color: #ffffff;
            padding: 8px 20px;
            border: 1px solid #65303f;
        }

        .box_direito h1 {
            font-size: 22px;
            margin-bottom: 25px;
            color: #472e51;
            text-align: center;
        }

        .box_direito p {
            font-size: 15px;
            margin-bottom: 20px;
            color: #472e51;
            text-align: center;
        }

        input {
            font-size: 15px;
            padding: 10px;
            width: 300px;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: block;
            margin: 0 auto 15px auto;
        }

        .cadastro_btn {
            background-color: #65303f;
            border-radius: 5px;
            font-size: 16px;
            color: white;
            padding: 10px 20px;
            border: none;
            display: block;
            margin: 20px auto;
            width: 200px;
        }

        .footer {
            background-color: #3a2442;
            height: 60px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 2px solid gold;
            margin-top: 10px;
        }

        input {
            font-size: 15px;
            padding: 15px;
            width: 300px;
            border: 1px solid rgb(195, 0, 255);
            border-radius: 5px;
            display: block;
            margin: 0 auto 15px auto;
            position: relative;
            top: 50px;
        }

        .entrar {
            background-color: #65303f;
            border-radius: 5px;
            font-size: 16px;
            color: white;
            padding: 10px 20px;
            border: none;
            display: block;
            margin: 20px auto;
            width: 200px;
            position: relative;
            top: 100px;
        }

        .footer {
            background-color: #3a2442;
            height: 60px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top: 2px solid gold;
            margin-top: 10px;
        }