
body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #472e51;
}

:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 65px;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
}

.header {
    height: 80px;
    border-bottom: 2px solid gold;
    background-color: rgba(71, 46, 81, 0.9);
    position: fixed;
    /*arruamr*/
    width: 100%;
    top: 0;
    z-index: 100;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header a {
    text-decoration: none;
    color: gold;
}

.agora {
    font-weight: bold;
}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: gold;
}

.titulo {
    color: gold;
    font-size: 24px;

}

/* BANNER */

.banner {
    height: 500px;
    color: rgb(255, 255, 255);
    background-size: cover;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner .container p {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 36px;
}

.banner .container span {
    font-weight: 800;
}
span{
    color:gold;
}
.social {
    background-color: #d8bddd;
    display: flex;
    padding: 200px;
    align-items: center;
}

.social .container .boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;
}

.social p {
    text-align: center;
    font: normal 20px Arial;
}

.social h4 {
    font: normal 25px Arial;
    color: rgb(33, 11, 39);
    font-weight: 800;

}
/* bnt*/
.boxes a {
    font-size: 22px;
    font-weight: bold;
    background-color: rgb(80, 0, 100);
    text-decoration: none;
    color: gold;
    position: relative;
    right: 10px;
    width: 90%;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid rgb(80, 0, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 10px;
    top: 1px;
    width: 800px;
    max-width: 950px;
    padding: 30px;
    background-color: #6c5d6c;
    border-radius: 12px;
    border: 3px solid gold;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);

}


/* FOOTER */
.footer {
    height: 50px;
    color: #fff;
    display: flex;
    font-size: 15px;
    border-top: 2px solid gold;
}

.footer .container {
    justify-content: center;
    text-align: center;
    align-items: center;
}