body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #472e51;
    color: #fff;
}

.header {
    height: 80px;
    border-bottom: 2px solid gold;
    background-color: rgba(71, 46, 81, 0.9);
    position: fixed;
    /*arruamr*/
    width: 100%;
    top: 0;
    z-index: 100;
}
.container {
   width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.titulo {
    color: gold;
    font-size: 24px;
}

.navbar {
   width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: gold;
}

.navbar a {
    color: gold;
    text-decoration: none;
    font-size: 18px;
}

.agora {
    font-weight: bold;
}

p {
    font-size: 22px;
    margin-top: 120px; 
    text-align: center;
    color: #fff;
}

button {
    display: block;
    margin: 10px auto;
    padding: 30px 55px;
    font-size: 20px;
    color: gold;
    background-color: #5d3d6c;
    border: 2px solid gold;
    border-radius: 8px;
}

#div {
    margin: 20px auto;
    width: 80%;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.25);
    border: 2px solid gold;
    border-radius: 10px;
}

.footer {
    width: 100%;
    height: 50px;
    color: #fff;
    border-top: 2px solid gold;
    margin-top: 230px;
}

.footer .container {
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
